*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.heading-section{
    background-color: #1f2937;
    color: #ffffff;

}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 100px;
    /* color: #ffffff; */
}
a{
    color: #ffffff;
    text-decoration: none;
}
.main-heading{
    font-size: 24px;
    font-weight: 700;
}
.navbar-content{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.navbar-link{
    color: #f9faf8
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.hero-left-side{
    /* border: 1px solid white; */
    width: 450px;
    padding-right: 30px;
}
.hero-text{
    font-size: 48px;
    font-weight: 900;
}
.subtext{
    color: #adb5bd
}
.profile-picture{
    width: 500px;
    border-radius: 10px;
}
.sign-up-btn{
    margin-top: 10px;
    background-color: #3882F6;
    color: #ffffff;
    font-size: x-large;
    font-weight: bolder;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
}